.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainFaculty {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid {
  height: 20vh;
}

.background {
  background-color: #00adb5;
  height: 100%;
  float: left;
  width: 100%;
}

.margin {
  margin-top: 10px;
}
